/* Basic styles */
.tournament-score {
  font-family: Arial, sans-serif;
  text-align: center;
  padding: 20px;


  .score-list {
    width: 100%;
    margin-top: 20px;
  }

  .score-header,
  .score-row {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: 1px solid #ddd;
    padding: 5px 0;
  }

  .score-cell {
    flex: 1;
    text-align: center;
  }

  .team-name {
    text-align: left;
  }

  .score-header {
    background-color: #f2f2f2;
    color: black;
    font-size: 14px;
  }

  .score-body {
    background: #242424;
    color: #dedbdb;
  }

  .player-bar {
    width: 5px;
    height: 20px;
    border-radius: 3px;
  }

  .alive {
    background-color: green;
  }

  .knocked {
    background-color: yellow;
  }

  .eliminated {
    background-color: red;
  }

  .colorexplain {
    background: black;
    color: #dedbdb;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  .colorexplain>span {
    padding: 5px 0;
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 12px;
  }

  .colorexplain>span span:nth-child(1) {
    display: inline-block;
    width: 8px;
    height: 12px;
    border-radius: 5px;
  }

  /* Transition animations */
  .row-enter {
    opacity: 0;
    transform: translateY(20px);
  }

  .row {
    /* border: 1px solid yellow; */
    width: 300px;
  }

  .header {
    background: white;
    color: #242424;
    font-size: 14px;
  }

  .header,
  .row {
    display: flex;
    justify-content: space-between;

    >span {
      display: inline-block;
      width: 50px;

      span {
        display: inline-block;
      }

    }

    .player-status {
      display: inline-flex;
      align-items: center;
      justify-content: center;
      gap: 3px;
    }
  }
  .row{
    margin: 5px 0;
    font-size: 13px;
    background: #242424;
    color: rgb(219, 214, 214);
  }

  .row-enter-active {
    opacity: 1;
    transform: translateY(0);
    transition: opacity 300ms ease, transform 300ms ease;
  }

  .row-exit {
    opacity: 1;
    transform: translateY(0);
  }

  .row-exit-active {
    opacity: 0;
    transform: translateY(-20px);
    transition: opacity 300ms ease, transform 300ms ease;
  }
}