/* Basic styles */
.tournament-score {
  font-family: Arial, sans-serif;
  text-align: center;
  padding: 0px;
  /* display: flex; */

  .player-bar {
    width: 5px;
    height: 20px;
    border-radius: 3px;
  }

  .alive {
    background-color: green;
    background-color: white;
  }

  .knocked {
    background-color: yellow;
    background-color: red;
  }

  .eliminated {
    background-color: red;
    background-color: grey;
  }

  .scoreboard {
    margin-top: 10px;

    .header {
      color: #242424;
      padding: 5px 0;
      background-color: #f2f2f2;
      font-size: 13px;
      font-weight: 700;
    }

    .header,
    .row {
      display: flex;
      width: 280px;
      /* justify-content: space-between; */

      >span {
        display: inline-block;
        width: 50px;
      }

      >span:nth-child(1) {
        /* border: 1px solid red; */
        width: 30px;
      }

      >span:nth-child(2) {
        /* border: 1px solid red; */
        width: 130px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }

      >span:nth-child(3) {
        /* border: 1px solid red; */
        width: 35px;
      }

      >span:nth-child(4) {
        /* border: 1px solid red; */
        width: 60px;
      }

      >span:nth-child(5) {
        /* border: 1px solid red; */
        width: 50px;
      }

      .player-status {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        gap: 3px;
      }
    }

    .row {
      margin: 4px 0;
      font-size: 13px;
      background: #010d2b;
      padding: 3px 0;

    }
    .row.eliminated{
      background: rgba(0,0,0,0.4);
      color: grey;
    }
  }

  .colorexplain {
    background: black;
    color: #dedbdb;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  .colorexplain>span {
    padding: 5px 0;
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 12px;
  }

  .colorexplain>span span:nth-child(1) {
    display: inline-block;
    width: 8px;
    height: 12px;
    border-radius: 5px;
  }
}