.register{
    width: 100%;
    
    form{

        h2{
            margin-bottom: 10px;
        }
        label{
            margin: 2px;
        }
        button{
            margin-top: 10px;
        }
    }
    .teams{
        margin-top: 30px;
        border: 1px solid grey;
    }
}